---
type Props = {content: string}
const {content} = Astro.props
const titlesWithId = content.replace(/<h1>(.*?)<\/h1>/g, '<h1 id="$1">$1</h1>')

---
<article id={'article-content'} class="prose max-w-[none] prose-sm lg:prose-lg lg:max-w-full flex-1" set:html={titlesWithId}/>