---
---
<div class="p-40 bg-text-gray-100 rounded-2xl overflow-hidden border border-border-soft justify-center lg:justify-start lg:items-start gap-32 lg:gap-48 flex self-stretch flex-col lg:flex-row">
  <div class="flex flex-col justify-start items-center lg:items-start gap-16">
    <img class="w-[128px] h-[128px] rounded-full" src="https://via.placeholder.com/128x128" />
    <div class="p-8 bg-text-gray-100 rounded-xs justify-start items-start gap-10 flex">
      <div class="text-text-main text-sm font-semibold break-words">123 publicações</div>
    </div>
  </div>
  <div class="flex-[1] flex flex-col justify-start items-start gap-24">
    <div class="self-stretch h-48 flex flex-col justify-start items-start">
      <div class="justify-start items-center gap-4 flex">
        <div class="text-text-main text-lg font-bold break-words">John Doe</div>
      </div>
      <div class="self-stretch text-text-soft text-sm font-semibold break-words">Web Developer</div>
    </div>
    <div class="self-stretch flex flex-col justify-start items-start gap-8">
      <div class="self-stretch text-text-sub text-base font-normal break-words">Sed commodo, est quis maximus fermentum, massa ipsum euismod neque, in varius risus tellus quis lacus. Sed ac bibendum odio.Sed commodo, est quis maximus fermentum, massa ipsum</div>
      <a href='' class="justify-start items-center gap-[12px] flex">
        <div class="text-primary-base text-base font-normal break-words">Ver mais</div>
        <button class="w-[20px] h-[20px] rounded-full border border-primary-base justify-center items-center gap-8 flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
            <path d="M7.73925 2.45567C7.56429 2.28902 7.28736 2.29576 7.12071 2.47071C6.95406 2.64567 6.9608 2.9226 7.13575 3.08925L10.7824 6.56277H2.1875C1.94588 6.56277 1.75 6.75865 1.75 7.00027C1.75 7.2419 1.94588 7.43777 2.1875 7.43777H10.7825L7.13575 10.9114C6.9608 11.078 6.95406 11.3549 7.12071 11.5299C7.28736 11.7048 7.56429 11.7116 7.73925 11.5449L12.067 7.42269C12.1655 7.32883 12.2238 7.20911 12.2419 7.08464C12.2472 7.05734 12.25 7.02914 12.25 7.00027C12.25 6.97136 12.2472 6.9431 12.2418 6.91575C12.2237 6.79136 12.1654 6.67172 12.067 6.57792L7.73925 2.45567Z" fill="#7367F0"/>
            </svg>
        </button>
      </a>
    </div>
  </div>
  <div class="flex flex-col justify-start items-start gap-24">
    <div class="text-text-main text-lg font-bold break-words">Social Media</div>
    <div class="self-stretch flex flex-col justify-start items-start gap-8">
      <a href='' class="justify-start items-center gap-4 flex">
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 3.40625C6 3.40625 4.40625 5.03125 4.40625 7C4.40625 9 6 10.5938 8 10.5938C9.96875 10.5938 11.5938 9 11.5938 7C11.5938 5.03125 9.96875 3.40625 8 3.40625ZM8 9.34375C6.71875 9.34375 5.65625 8.3125 5.65625 7C5.65625 5.71875 6.6875 4.6875 8 4.6875C9.28125 4.6875 10.3125 5.71875 10.3125 7C10.3125 8.3125 9.28125 9.34375 8 9.34375ZM12.5625 3.28125C12.5625 3.75 12.1875 4.125 11.7188 4.125C11.25 4.125 10.875 3.75 10.875 3.28125C10.875 2.8125 11.25 2.4375 11.7188 2.4375C12.1875 2.4375 12.5625 2.8125 12.5625 3.28125ZM14.9375 4.125C14.875 3 14.625 2 13.8125 1.1875C13 0.375 12 0.125 10.875 0.0625C9.71875 0 6.25 0 5.09375 0.0625C3.96875 0.125 3 0.375 2.15625 1.1875C1.34375 2 1.09375 3 1.03125 4.125C0.96875 5.28125 0.96875 8.75 1.03125 9.90625C1.09375 11.0312 1.34375 12 2.15625 12.8438C3 13.6562 3.96875 13.9062 5.09375 13.9688C6.25 14.0312 9.71875 14.0312 10.875 13.9688C12 13.9062 13 13.6562 13.8125 12.8438C14.625 12 14.875 11.0312 14.9375 9.90625C15 8.75 15 5.28125 14.9375 4.125ZM13.4375 11.125C13.2188 11.75 12.7188 12.2188 12.125 12.4688C11.1875 12.8438 9 12.75 8 12.75C6.96875 12.75 4.78125 12.8438 3.875 12.4688C3.25 12.2188 2.78125 11.75 2.53125 11.125C2.15625 10.2188 2.25 8.03125 2.25 7C2.25 6 2.15625 3.8125 2.53125 2.875C2.78125 2.28125 3.25 1.8125 3.875 1.5625C4.78125 1.1875 6.96875 1.28125 8 1.28125C9 1.28125 11.1875 1.1875 12.125 1.5625C12.7188 1.78125 13.1875 2.28125 13.4375 2.875C13.8125 3.8125 13.7188 6 13.7188 7C13.7188 8.03125 13.8125 10.2188 13.4375 11.125Z" fill="#C13584"/>
          </svg>          
        <div class="text-text-main text-base font-normal break-words">Instagram</div>
      </a>
      <a href='' class="justify-start items-center gap-4 flex">
        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.3438 3.75C14.3438 3.90625 14.3438 4.03125 14.3438 4.1875C14.3438 8.53125 11.0625 13.5 5.03125 13.5C3.15625 13.5 1.4375 12.9688 0 12.0312C0.25 12.0625 0.5 12.0938 0.78125 12.0938C2.3125 12.0938 3.71875 11.5625 4.84375 10.6875C3.40625 10.6562 2.1875 9.71875 1.78125 8.40625C2 8.4375 2.1875 8.46875 2.40625 8.46875C2.6875 8.46875 3 8.40625 3.25 8.34375C1.75 8.03125 0.625 6.71875 0.625 5.125V5.09375C1.0625 5.34375 1.59375 5.46875 2.125 5.5C1.21875 4.90625 0.65625 3.90625 0.65625 2.78125C0.65625 2.15625 0.8125 1.59375 1.09375 1.125C2.71875 3.09375 5.15625 4.40625 7.875 4.5625C7.8125 4.3125 7.78125 4.0625 7.78125 3.8125C7.78125 2 9.25 0.53125 11.0625 0.53125C12 0.53125 12.8438 0.90625 13.4688 1.5625C14.1875 1.40625 14.9062 1.125 15.5312 0.75C15.2812 1.53125 14.7812 2.15625 14.0938 2.5625C14.75 2.5 15.4062 2.3125 15.9688 2.0625C15.5312 2.71875 14.9688 3.28125 14.3438 3.75Z" fill="#1DA1F2"/>
          </svg>
          
        <div class="text-text-main text-base font-normal break-words">Twitter</div>
      </a>
      <a href='' class="justify-start items-center gap-4 flex">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 8C11 8.71875 10.9375 9.375 10.875 10H5.09375C5.03125 9.375 4.96875 8.71875 4.96875 8C4.96875 7.3125 5.03125 6.65625 5.09375 6H10.875C10.9375 6.65625 11 7.3125 11 8ZM15.7188 6C15.9062 6.65625 16 7.3125 16 8C16 8.71875 15.9062 9.375 15.7188 10H11.875C11.9375 9.375 12 8.6875 12 8C12 7.3125 11.9375 6.65625 11.875 6H15.7188ZM15.4062 5H11.75C11.4375 3.03125 10.8125 1.34375 10.0312 0.28125C12.4688 0.9375 14.4688 2.6875 15.4062 5ZM10.75 5H5.21875C5.40625 3.875 5.71875 2.875 6.0625 2.0625C6.40625 1.3125 6.75 0.78125 7.125 0.4375C7.46875 0.125 7.75 0 8 0C8.21875 0 8.5 0.125 8.84375 0.4375C9.21875 0.78125 9.5625 1.3125 9.90625 2.0625C10.25 2.875 10.5625 3.875 10.75 5ZM0.5625 5C1.5 2.6875 3.5 0.9375 5.9375 0.28125C5.15625 1.34375 4.53125 3.03125 4.21875 5H0.5625ZM4.09375 6C4.03125 6.65625 3.96875 7.3125 3.96875 8C3.96875 8.6875 4.03125 9.375 4.09375 10H0.25C0.0625 9.375 0 8.71875 0 8C0 7.3125 0.0625 6.65625 0.25 6H4.09375ZM6.0625 13.9688C5.71875 13.1562 5.40625 12.1562 5.21875 11H10.75C10.5625 12.1562 10.25 13.1562 9.90625 13.9688C9.5625 14.7188 9.21875 15.25 8.84375 15.5938C8.5 15.9062 8.21875 16 7.96875 16C7.75 16 7.46875 15.9062 7.125 15.5938C6.75 15.25 6.40625 14.7188 6.0625 13.9688ZM5.9375 15.75C3.5 15.0938 1.5 13.3438 0.5625 11H4.21875C4.53125 13 5.15625 14.6875 5.9375 15.75ZM10.0312 15.75C10.8125 14.6875 11.4375 13 11.75 11H15.4062C14.4688 13.3438 12.4688 15.0938 10.0312 15.75Z" fill="#2F4F4F"/>
          </svg>          
        <div class="text-text-main text-base font-normal break-words">Website</div>
      </a>
    </div>
  </div>
</div>