---
---
<div class="pb-[48px] border-tl-8 border-tr-8 justify-center items-start gap-32 flex self-stretch">
  <div class="flex-[1] flex flex-col justify-start items-start gap-12">
    <p class="self-stretch text-text-soft text-sm font-semibold  break-words">Artigo anterior</p>
    <a href='' class="self-stretch text-text-main text-lg font-semibold  break-words">5 Easy Ways to Boost Your Team Performance Immediately</a>
  </div>
  <div class="flex-[1] flex flex-col justify-start items-end gap-12">
    <p class="self-stretch text-text-soft text-sm font-semibold break-words text-right">Próximo Artigo</p>
    <a href='' class="self-stretch text-text-main text-lg font-semibold  break-words text-right">An introduction to the third-party cookie crackdown</a>
  </div>
</div>