---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'section'>;
const { class: className, ...props } = Astro.props;
---

<section class={twMerge(['container flex gap-24 lg:gap-32 items-start', className])} {...props}>
  <slot />
</section>
