---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a
  data-is-active={isActive}
  href={href}
  class={twMerge(
    'px-20 transition-all flex justify-center items-center gap-2 text-text-sub text-base font-normal leading-6 border-b data-[is-active]:border-b-primary-base data-[is-active]:text-text-main hover:text-text-main rounded-xxs',
    className,
  )}
  {...props}
>
  <slot />
</a>
