---
import { Image } from 'astro:assets';
import brand from '../assets/images/ecto-hub-brand.svg';
import HeaderLink from './HeaderLink.astro';
---

<header
  class="Navbar w-full h-24 px-28 bg-white border-b border-gray-200 flex justify-between items-stretch"
>
  <main class="container flex-row justify-between">
    <Image src={brand} alt="Ecto Hub" />
    <nav class="Navigation flex justify-start items-stretch self-stretch">
      <HeaderLink href="/"> Inicio </HeaderLink>
      <HeaderLink href="/categoria"> Categoria </HeaderLink>
      <HeaderLink href="/categoria"> Categoria </HeaderLink>
      <HeaderLink href="/categoria"> Categoria </HeaderLink>
      <HeaderLink href="/categoria"> Categoria </HeaderLink>
    </nav>
    <div class="Frame1000001036 w-[186px] flex justify-start items-center gap-4"></div>
  </main>
</header>
