---
import { Image } from 'astro:assets';
import brand from '../assets/images/ecto-hub-brand.svg';
import HeaderLink from './HeaderLink.astro';
---

<header
  class="Navbar w-full lg:h-24 h-[72px] lg:px-28 bg-white border-b lg:border-b-0 border-gray-200 flex justify-between items-center lg:items-stretch"
>
  <main class="lg:container w-full flex-row justify-between">
    <Image src={brand} alt="Ecto Hub" class={'w-[139px] lg:w-[186px]'} />
    <nav class="Navigation hidden lg:flex justify-start items-stretch self-stretch " >
      <HeaderLink href="/"> Inicio </HeaderLink>
      <HeaderLink href="/categoria"> Categoria </HeaderLink>
      <HeaderLink href="/categoria"> Categoria </HeaderLink>
      <HeaderLink href="/categoria"> Categoria </HeaderLink>
      <HeaderLink href="/categoria"> Categoria </HeaderLink>
    </nav>
    <div class="Frame1000001036 w-[186px] hidden lg:flex justify-start items-center gap-4"></div>
    <button>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class='lg:hidden'>
        <path d="M5.49805 12.0002H18.5031" stroke="#596066" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M5.49805 16.0022H18.5031" stroke="#596066" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M5.49707 7.99826H18.5021" stroke="#596066" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button> 
  </main>
</header>
