---
---
<a href='' class="p-8 bg-primary-lighter rounded-[4px] justify-center items-center gap-[4px] flex">
  <div class="text-primary-base text-base font-medium break-words">
    #<slot />
  </div>
</a>
