---
import type { HTMLAttributes } from 'astro/types'
import { twMerge } from 'tailwind-merge'
import ApiImage from '../ApiImage.astro'
import type Image from '../../interfaces/image'
import { getImage } from 'astro:assets'

type Props = {image?: Image, name: string} & HTMLAttributes<'img'>
const {image: src, class: className,name,  ...rest} = Astro.props

const getFirstLetter = (name: string): string => {
  return name.charAt(0).toUpperCase();
};

const firstLetter = getFirstLetter(name);
const getSecondNameFirstLetter = (name: string): string => {
  const names = name.split(' ');
  if (names.length > 1) {
    return names[1].charAt(0).toUpperCase();
  }
  return '';
};

const secondNameFirstLetter = getSecondNameFirstLetter(name);
---
<div
class={twMerge(['w-[48px] h-[48px] relative rounded-full bg-primary-base text-primary-lighter flex items-center justify-center', className])}
{...rest}
>

{
  src ? (
  <ApiImage
  class={'w-full h-full object-cover rounded-full'}
  image={src}
  alt={name}

/>) : 
(<div class='text-2xl'>
  {
    secondNameFirstLetter ? `${firstLetter}${secondNameFirstLetter}` : firstLetter
  }
</div>)
}

</div>