---
import { getEntry } from 'astro:content';
import Screen from '../components/Screen.astro';
import Container from '../components/Container.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Menu from '../components/legals-page/MenuSimplified.astro';
import PageHeader from '../components/PageHeader.astro';
import { defaultBlogRequests } from '../lib/blog';
const entry = await getEntry('legal', 'privacidade');
const { Content, headings } = await entry.render();

const { blogInfo, headerNavigation, footerNavigation } = await defaultBlogRequests();
---

<DefaultLayout
  blogInfo={blogInfo}
  headerNavigation={headerNavigation}
  footerNavigation={footerNavigation}
>
  <PageHeader
    description={`Atualizado em: ${new Date(entry.data.updatedAt).toLocaleDateString('pt-br', {
      year: 'numeric',
      month: 'short',
      day: 'numeric',
    })}`}
    items={[{ title: 'Politica de privacidade', url: '/privacidade' }]}
    title="Politica de Privacidade"
  />
  <Screen class="pl-0 relative pr-24 py-32 lg:py-80 justify-end">
    <Container class={'gap-24 lg:gap-64 '}>
      <Menu list={headings.map((heading) => ({ id: heading.slug, title: heading.text }))} />
      <div class="flex flex-col gap-32 items-start flex-1 overflow-visible">
        <article
          id={'article-content'}
          class="prose max-w-[none] prose-sm lg:prose-lg lg:max-w-full flex-1"
        >
          <Content />
        </article>
      </div>
    </Container>
  </Screen>
</DefaultLayout>
