---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'>;
const { class: className, ...props } = Astro.props;
---

<div
  class={twMerge([
    'items-start flex flex-col justify-between self-stretch',
    className,
  ])}
>
  <slot />
</div>
