---
import type { HTMLAttributes } from 'astro/types'
import { twMerge } from 'tailwind-merge'


type Props  = HTMLAttributes<'div'>
const {class: className, ...props} = Astro.props
---
<div class={twMerge(['p-2 items-start gap-4 flex flex-col justify-between flex-[1_0_0] self-stretch',className])}>
  <slot/>
</div>