---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'a'>;
const { class: className, ...props } = Astro.props;
---

<a
  class={twMerge([
    'group p-8 items-center gap-16 flex rounded-lg border border-gray-200 bg-white cursor-pointer',
    className,
  ])}
  {...props}
>
  <slot />
</a>
